<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="bootstrap/css/customerReg.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
		<a class="navbar-brand" href="#">BBB</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Pricing</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">About us</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select role
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="#">Admin</a>
				<a class="dropdown-item" href="#">Sales Person</a>
				<a class="dropdown-item" href="#">Supervisor</a>
			  </div>
			</li>
          </ul>
    	</div>
	  </nav>
	
	
	<div class="limiter">
		<div>
			<div id="wrapper">
				<form name="customer" method="POST" action="/saveCustomer" onsubmit="return customerValidation();" id="formBorder">
                    <fieldset>
                        <legend id="customerLegend">Customer Details:</legend>
                        <div class="form-row">
                        <div id="firstName_div">
                          <label>First name:</label>
                          <input type="text" id="firstName" name="firstName">
                          <div id="firstName_error"></div>
                        </div>

                        <div id="lastName_div">
                          <label>Last name:</label>
                          <input type="text" id="lastName" name="lastName">
                          <div id="lastName_error"></div>
                        </div>

                        </div>
                        
                        <div class="form-row">
                          <div id="dob_div">
                            <label>Date of Birth:</label>
                            <input type="date" id="dob" name="dob">
                            <div id="dob_error"></div>
                          </div>                       
                          
                          <div id="contact_div">
                            <label>Phone Number:</label>
                            <input type="string" id="contact" name="contact">      
                            <div id="contact_error"></div>        
                          </div>
                        </div>

                        <div class="form-row">
                          <div id="nationality_div">
                            <label>Nationality:</label>
                            <input type="text" id="nationality" name="nationality">    
                            <div id="nationality_error"></div>                    
                          </div>
  
                          <div id="nin_div">
                            <label>NIN:</label>
                            <input type="text" id="nin" name="nin">    
                            <div id="nin_error"></div>                    
                          </div>
                        </div>


                        <div class="form-row">
                          <div id="maritalStatus_div">
                            <label>Marital Status</label>
                            <div class="radio">
                              <input type="radio" name="maritalStatus"  id="single" value="Single">Single &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="radio" name="maritalStatus"  id="married" value="Married">Married
                            </div>
                            <div id="maritalStatus_error"></div>
  
                          </div>
                          
                          <div id="stageName_div">
                            <label id="stage">Stage Name:</label>
                            <input type="text" id="stageName" name="stageName">
                            <div id="stageName_error"></div>
                          </div>
                        </div>

                        
                          <div id="lc_div">
                            <label>LC confirmation:</label>
                            <input type="checkbox" name="lc1" id="lc1" value="lc1">LC1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" name="lc3" id="lc3" value="lc3">LC3<br>
                            <div id="lc_error"></div>
                          </div>
                          
                          <div id="otherLoans_div"> 
                            <label>Other Loans:</label>
                            <input type="radio" name="otherLoans" id="yes" value="yes">YES
                            <input type="radio" name="otherLoans" id="no" value="no">NO
                            <div id = "otherLoans_div"></div>
                          </div>    
                        
                        
                                          
                    </fieldset>
            
                    <fieldset>
                        <legend id="refereeLegend">Referee Details:</legend>

                        <div class="form-row">
                          <div id="refereeName_div">
                            <label>Name:</label>
                            <input type="refereeName" name="refereeName">
                            <div id="refereeName_error"></div>                        
                          </div>
  
                          <div id="refereeDob_div">
                            <label>Date of Birth:</label>
                            <input type="date" id="refereeDob" name="refereeDob">
                            <div id="refereeDob_error"></div>
                          </div>
                        </div>                        

                        <div id="refereeOccupation_div">
                          <label id="occupationLabel">Occupation:</label>
                          <input type="text" id="refereeOccupation" name="refereeOccupation">
                          <div id="refereeOccupation_error"></div>                    
                        </div>

                        </fieldset>                      
                    
            
                    <fieldset>

                        <legend id="loanLegend">Loan Details:</legend>

                        <div class="form-row">
                          <div id="vehicle_div">
                          
                            <select name="vehicleType">
                              
                              <option selected="" value=""><span>(Please select a vehicle)</span></option>
                              <option value="TukTuk">Tuk Tuk</option>
                              <option value="BodaBoda">Boda Boda</option>
                              
                            </select>                  
                            
                          <div id="vehicle_error"></div>                       
                        </div>
  
                          <div id="downPayment_div">
                            <label>Down Payment:</label>
                            <input type="text" id="downPayment" name="downPayment">
                            <div id="downPayment_error"></div>
                          </div>
                        </div>

                        

                        <div id="todayDate_div">
                          <label>Current Date</label>
                          <input type="date" id="todayDate" name="todayDate">
                          <div id="todayDate_error"></div>
                        </div>
                                 
                    </fieldset>

                    <button type="submit" id="submit">Submit</button>
                    <button type="reset">Cancel</button>
              
				</form>
			</div>
		</div>
  </div>
  
  <script src="js/customerReg.js"></script>
</body>
</html>