doctype html
html
    head
        //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
        title List of Customers
    body
        h1 List of Customers
            
        table.table
            thead.thead-dark
                tr
                    th Full Name
                    
            tbody
                each customer in customers
                    tr
                        td #{customer.fullName}
                        
                        
